body,
html {
    font-family: 'Montserrat';
    font-weight: 400;
    color: #e8e8e8;
    margin: 0;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative
}

video::-internal-media-controls-overlay-cast-button {
    display: none
}

.my-field {
    -webkit-appearance: none !important
}

#bg {
    background-color: #303030;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10000
}

h1 {
    color: #e8e8e8;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 4.5vw
}

@media only screen and (max-width:1060px) {
    h1 {
        font-size: 6vw
    }
}

@media only screen and (max-width:600px) {
    h1 {
        font-size: 10vw
    }
}

h2 {
    color: #e8e8e8;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 1
}

@media only screen and (max-width:1060px) {
    h2 {
        line-height: .7;
        font-size: 2.3vw
    }
}

@media only screen and (max-width:600px) {
    h2 {
        font-size: 4.8vw
    }
}

h3 {
    color: #e8e8e8;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 7vh;
    line-height: 1
}

@media (orientation:portrait) {
    h3 {
        font-size: 4vh;
        line-height: 1.2
    }
}

h4 {
    color: #303030;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2vw;
    line-height: .5;
    margin-bottom: 0;
    padding-top: 1vw
}

@media only screen and (max-width:1060px) {
    h4 {
        line-height: .7;
        font-size: 1.8vw
    }
}

@media only screen and (max-width:600px) {
    h4 {
        font-size: 2.7vw;
        line-height: .7
    }
}

h5 {
    color: #303030;
    font-family: MontserratLight;
    font-size: 7vh;
    line-height: .5;
    margin-bottom: 3vw;
    margin-top: 1.5vw
}

@media only screen and (max-width:1060px) {
    h5 {
        margin-bottom: 3vw
    }
}

@media only screen and (max-width:600px) {
    h5 {
        margin-bottom: 7vw;
        font-size: 6vh
    }
}

h6 {
    color: #e8e8e8;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: .6vw;
    line-height: 1.7
}

@media only screen and (max-width:1060px) {
    h6 {
        font-size: .9vw
    }
}

@media only screen and (max-width:600px) {
    h6 {
        font-size: 2.1vw
    }
}

p {
    color: #303030;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: .66vw;
    line-height: 1.05vw
}

@media only screen and (max-width:1060px) {
    p {
        font-size: 1vw;
        line-height: 2vw
    }
}

@media only screen and (max-width:600px) {
    p {
        font-size: 1.72vw;
        line-height: 3.4vw
    }
}

#center {
    position: relative
}

#foot {
    background-color: #94ab9e;
    border-style: groove none none none;
    border-color: #e8e8e8;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 4.5vh;
    top: 95.5vh;
    z-index: 50000;
    padding-left: 20vw
}

@media only screen and (max-width:1060px) {
    #foot {
        top: 94vh;
        height: 6vh;
        position: fixed;
        padding-left: 9vw
    }
}

@media only screen and (max-width:600px) {
    #foot {
        position: absolute;
        top: 240vw;
        height: 10vw;
        padding-left: 0
    }
}

.logo {
    padding-top: 1.1vh;
    height: 1.9vh;
    width: auto;
    padding-left: 7.75vw
}

@media only screen and (max-width:1060px) {
    .logo {
        padding-top: 1.6vh;
        padding-left: 9vw;
        height: 1.7vw
    }
}

@media only screen and (max-width:600px) {
    .logo {
        padding-left: 7.5vw;
        padding-top: 3.2vw;
        height: 2.8vw
    }
}

.logo2 {
    float: right;
    padding-top: 1.1vh;
    height: 1.9vh;
    width: auto;
    padding-right: 3.5vw
}

@media only screen and (max-width:1060px) {
    .logo2 {
        padding-top: 1.6vh;
        height: 2.3vh
    }
}

@media only screen and (max-width:600px) {
    .logo2 {
        padding-right: 8.1vw;
        float: right;
        padding-top: 3.2vw;
        height: 2.8vw
    }
}

.reel1 {
    display: inline-block;
    padding: .5vw;
    margin-left: .5vw;
    background-color: #94ab9e;
    position: absolute;
    left: 3vw;
    top: 0;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    width: 27vw;
    height: 21.5vw;
    z-index: 0;
    font-size: .9vw
}

@media only screen and (max-width:1060px) {
    .reel1 {
        display: none
    }
}

@media only screen and (max-width:600px) {
    .reel1 {
        display: none
    }
}

.alert {
    display: inline-block;
    border-style: ridge;
    padding: .5vw;
    background-color: #94ab9e;
    position: absolute;
    left: 45vw;
    top: 8.5vw;
    color: #e8e8e8;
    border: 1px ridge #e8e8e8;
    width: 27vw;
    height: 12.5vw;
    z-index: 10;
    font-size: .9vw
}

@media only screen and (max-width:1060px) {
    .alert {
        padding: 1vw;
        width: 35vw;
        height: 15vw;
        left: 44vw;
        top: 23vw;
        font-size: 1.2vw
    }
}

@media only screen and (max-width:600px) {
    .alert {
        padding: 1vw;
        top: 90vw;
        left: 6.5vw;
        width: 65vw;
        height: 27vw;
        font-size: 2.5vw
    }
}

.closebtn {
    float: right;
    color: #e8e8e8;
    font-size: 3vh;
    line-height: 2.2vh;
    cursor: pointer;
    margin: 0;
    padding: 0 .2vh 0 .2vh;
    border-style: outset;
    background-color: #b3c9c3
}

.closebtn:hover {
    background-color: #94ab9e;
    color: #e8e8e8
}

.closebtn_index {
    float: right;
    color: #e8e8e8;
    font-size: 1.5vw;
    line-height: 1.1vw;
    cursor: pointer;
    margin: 0;
    padding: 0 .1vw 0 .1vw;
    border-style: outset;
    background-color: #b3c9c3
}

@media only screen and (max-width:1060px) {
    .closebtn_index {
        line-height: 1.9vw;
        border-width: .3vw;
        font-size: 2vw;
        padding: 0 .4vw 0 .4vw
    }
}

@media only screen and (max-width:600px) {
    .closebtn_index {
        line-height: 3.15vw;
        border-width: .3vw;
        font-size: 4vw;
        padding: 0 .4vw 0 .4vw;
        border-width: .5vw
    }
}

.closebtn_index:hover {
    background-color: #94ab9e;
    color: #e8e8e8
}

hr.new1 {
    border-top: .2px solid #e8e8e8
}

.header_index {
    margin-right: 2vw;
    border-style: groove;
    padding-left: .5vw;
    background-color: #94ab9e
}

@media only screen and (max-width:1060px) {
    .header_index {
        margin-right: 3vw;
        font-size: 1.3vw
    }
}

@media only screen and (max-width:600px) {
    .header_index {
        margin-right: 5vw;
        font-size: 2.3vw
    }
}

.header {
    margin-right: 4vh;
    border-style: groove;
    padding-left: 1vh;
    background-color: #94ab9e
}

#info1 {
    width: 16.35134vw;
    position: absolute;
    top: 24.5vw;
    left: 52.5vw;
    z-index: 10;
    font-size: .9vw;
    border: 1px solid #e8e8e8;
    background-color: #94ab9e;
    padding: .5vw .7vw 0 .5vw
}

@media only screen and (max-width:1060px) {
    #info1 {
        top: 44vw;
        left: 48vw;
        width: 24vw
    }
}

@media only screen and (max-width:600px) {
    #info1 {
        top: 137vw;
        left: 6.5vw;
        width: 34vw;
        z-index: 10;
        padding: 1vw 1.5vw 0 1vw
    }
}

#boton_creditos {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: fixed;
    z-index: 50001;
    bottom: .7vh;
    border-color: #fff;
    background-color: #94ab9e;
    color: #e8e8e8;
    padding: .2vh 2.3vw .2vh 2.3vw;
    border-style: groove;
    border-width: .2vw;
    text-align: center;
    display: inline-block;
    font-size: 1.5vh;
    cursor: pointer;
    position: absolute;
    right: 1.4vw;
    font-family: 'Montserrat';
    font-weight: 400;
}

@media only screen and (max-width:1060px) {
    #boton_creditos {
        background-color: #b3c9c3;
        color: #303030;
        border-width: .3vw;
        border-style: outset;
        bottom: auto;
        top: 5vw;
        right: 1.4vw;
        z-index: 100;
        font-size: 1.3vw;
        padding: .2vw 3vw .2vw 3vw
    }
}

@media only screen and (max-width:600px) {
    #boton_creditos {
        top: 230vw;
        right: 6.5vw;
        font-size: 2.5vw;
        padding: .4vw 6.5vw .4vw 6.5vw;
        border-width: .7vw
    }
}

#boton_creditos:hover {
    background-color: #b3c9c3;
    color: #303030
}

#boton_fashionfilm {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #fff;
    background-color: #b3c9c3;
    color: #303030;
    padding: .2vw 1.5vw .2vw 1.5vw;
    border-style: outset;
    border-width: .3vw;
    text-align: center;
    display: inline-block;
    font-size: .7vw;
    cursor: pointer;
    position: absolute;
    top: 1vw;
    right: 1.4vw;
    z-index: 100;
    font-family: 'Montserrat';
    font-weight: 400;
}

@media only screen and (max-width:1060px) {
    #boton_fashionfilm {
        font-size: 1.3vw;
        padding: .2vw 1.5vw .2vw 1.5vw
    }
}

@media only screen and (max-width:600px) {
    #boton_fashionfilm {
        left: 6.5vw;
        top: 137vw;
        right: auto;
        font-size: 2.5vw;
        padding: .4vw 6.5vw .4vw 6.5vw;
        border-width: .7vw;
        max-width: 35vw
    }
}

#boton_fashionfilm:hover {
    background-color: #94ab9e;
    color: #e8e8e8
}

#closebtn_fashionfilm {
    font-family: 'Montserrat';
    font-weight: 300;
    display: none;
    float: right;
    color: #e8e8e8;
    font-size: 4vw;
    margin-right: 1.5vw;
    cursor: pointer;
    z-index: 50002 !important
}

@media only screen and (max-width:1060px) {
    #closebtn_fashionfilm {
        font-size: 6vw;
        margin-right: 3vw
    }
}

@media only screen and (max-width:600px) {
    #closebtn_fashionfilm {
        font-size: 10vw;
        margin-right: 3vw
    }
}

#closebtn_fashionfilm:hover {
    color: #e8e8e8
}

#creditos {
    width: 30vw;
    position: absolute;
    top: 12vh;
    left: 35vw;
    z-index: 50200 !important;
    font-size: .9vw;
    border: 1px solid #e8e8e8;
    background-color: #94ab9e;
    padding: .5vw .7vw 0 .5vw;
    display: none
}

@media only screen and (max-width:1060px) {
    #creditos {
        left: 27.5vw;
        width: 45vw
    }
}

@media only screen and (max-width:600px) {
    #creditos {
        position: fixed;
        left: 15vw;
        width: 70vw;
        padding: 1vw 1.5vw 0 1.5vw
    }
}

#creditos_txt {
    background-color: #e8e8e8;
    padding: .7vw;
    border-style: groove;
    height: 20vw;
    overflow-y: scroll;
    margin-bottom: .7vw
}

@media only screen and (max-width:1060px) {
    #creditos_txt {
        padding: 1vw;
        height: 50vh
    }
}

@media only screen and (max-width:600px) {
    #creditos_txt {
        margin-bottom: 1.5vw;
        padding: 2vw
    }
}

#creditos_txt::-webkit-scrollbar {
    width: 1.5vw;
    border-style: outset;
    border: 2vw;
    border-color: #e8e8e8;
    background-color: red;
    color: red
}

@media only screen and (max-width:1060px) {
    #creditos_txt::-webkit-scrollbar {
        width: 2.5vw
    }
}

@media only screen and (max-width:600px) {
    #creditos_txt::-webkit-scrollbar {
        width: 4vw
    }
}

#creditos_txt::-webkit-scrollbar-track {
    border-style: outset;
    border: 2vw;
    border-color: #e8e8e8;
    background-color: #b3c9c3;
    color: red
}

#creditos_txt::-webkit-scrollbar-thumb {
    border-style: outset;
    border: 2vw;
    border-color: #e8e8e8;
    background: #888
}

#creditos_txt::-webkit-scrollbar-thumb:hover {
    background: #555
}

#creditos_txt p {
    margin-left: 2vw;
    line-height: 1.5vw
}

@media only screen and (max-width:1060px) {
    #creditos p {
        line-height: 2.5vw;
        margin-left: 3vw
    }
}

@media only screen and (max-width:600px) {
    #creditos p {
        line-height: 5vw;
        margin-left: 5vw;
        font-size: 2vw
    }
}

#backlight {
    opacity: .9;
    height: 100vh;
    width: 100vw;
    background-color: #303030;
    position: fixed;
    z-index: 50100;
    top: 0;
    left: 0;
    display: none
}

#backlight2 {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: fixed;
    z-index: 50001 !important;
    top: 0;
    left: 0;
    display: none
}

#nota {
    background-color: #e8e8e8;
    padding: .7vw;
    border-style: groove
}

#titulo {
    text-align: right;
    padding-top: 4vh;
    margin: 0;
    padding-right: .5vw
}

@media only screen and (max-width:600px) {
    #titulo {
        padding-top: 2.7vw;
        text-align: left;
        padding-left: .5vw
    }
}

#titulo_index {
    text-align: right;
    padding-top: 2vw;
    margin: 0;
    padding-right: .5vw
}

@media only screen and (max-width:600px) {
    #titulo_index {
        padding-top: 3vw;
        text-align: left;
        padding-left: .5vw
    }
}

#subtitulo {
    text-align: right;
    margin: 0;
    padding-right: .5vw
}

@media only screen and (max-width:600px) {
    #subtitulo {
        text-align: left;
        padding-left: .5vw
    }
}

#sketch-holder {
    position: absolute;
    top: 1vw;
    left: 27vw;
    border: 1px solid #e8e8e8
}

@media only screen and (max-width:1060px) {
    #sketch-holder {
        top: 0;
        left: 17vw
    }
}

@media only screen and (max-width:600px) {
    #sketch-holder {
        top: 0;
        left: 10vw
    }
}

#pic-holder {
    position: absolute;
    top: 4vw;
    left: 27vw;
    background-image: url(../assets/portada.jpg);
    background-size: cover;
    width: 23vw;
    height: 34vw
}

@media only screen and (max-width:1060px) {
    #pic-holder {
        top: 0;
        left: 17vw;
        width: 35vw;
        height: 53vw
    }
}

@media only screen and (max-width:600px) {
    #pic-holder {
        top: 0;
        left: 10vw;
        width: 55vw;
        height: 82vw
    }
}

#cuadro_mobil {
    background-color: #f867e9;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -5
}

@media only screen and (max-width:600px) {
    #cuadro_mobil {
        top: 7.5vw;
        width: 68.5vw;
        height: 22vw;
        z-index: -50
    }
}

#cuadroVerde2 {
    background-color: #52ff60;
    position: absolute;
    top: 10vw;
    left: 46vw;
    width: 28.2vw;
    height: 13.25vw;
    z-index: 0
}

@media only screen and (max-width:1060px) {
    #cuadroVerde2 {
        top: 25vw;
        left: 46vw;
        width: 37vw;
        height: 17vw
    }
}

@media only screen and (max-width:600px) {
    #cuadroVerde2 {
        top: 93vw;
        left: 10vw;
        width: 67vw;
        height: 29.5vw;
        z-index: 5
    }
}

#degradado_izquierda {
    opacity: .4;
    background-image: linear-gradient(-90deg, #394589, #566def, #f867e9, #52ff60);
    position: absolute;
    height: 100%;
    min-height: 45vw;
    left: 0;
    width: 45vw;
    top: 0;
    z-index: -102;
    overflow-x: hidden !important
}

@media only screen and (max-width:1060px) {
    #degradado_izquierda {
        height: 100vw;
        min-height: 100vh;
        width: 21vw;
        background-image: linear-gradient(-90deg, #394589, #566def, #f867e9)
    }
}

@media only screen and (max-width:600px) {
    #degradado_izquierda {
        width: 15vw;
        left: 85vw;
        height: 80vw;
        z-index: 1;
        top: 160vw;
        min-height: 0;
        opacity: .3;
        background-image: linear-gradient(#303030, #566def, #f867e9)
    }
}

#degradado_izquierda_frame {
    top: 0;
    background-color: #303030;
    position: absolute;
    height: 40vw;
    left: 0;
    width: 45vw;
    z-index: -101;
    overflow-x: hidden !important
}

@media only screen and (max-width:600px) {
    #degradado_izquierda_frame {
        display: none
    }
}

#cuadroVerde4 {
    background-color: #cb829a;
    position: absolute;
    height: 100%;
    min-height: 45vw;
    left: 74vw;
    width: 26vw;
    top: 0;
    z-index: -7;
    overflow-x: hidden !important
}

@media only screen and (max-width:1060px) {
    #cuadroVerde4 {
        height: 100vw;
        min-height: 100vh
    }
}

@media only screen and (max-width:600px) {
    #cuadroVerde4 {
        width: 15vw;
        left: 85vw;
        height: 130vw;
        min-height: 130vh
    }
}

#cuadroVerde4Frame {
    top: 0;
    background-color: #303030;
    position: absolute;
    height: 43vw;
    left: 70vw;
    width: 30vw;
    z-index: -6;
    overflow-x: hidden !important
}

@media only screen and (max-width:1060px) {
    #cuadroVerde4Frame {
        height: 75vw
    }
}

@media only screen and (max-width:600px) {
    #cuadroVerde4Frame {
        width: 15vw;
        height: 140vw;
        left: 85vw
    }
}

#cuadroAzul1 {
    background-color: #52ff60;
    position: absolute;
    top: 12vw;
    left: 0;
    width: 35vw;
    height: 3vw;
    z-index: -5
}

@media only screen and (max-width:600px) {
    #cuadroAzul1 {
        top: 30vw;
        height: 10vw;
        z-index: -50
    }
}

#cuadroRojo1 {
    background-color: #566def;
    position: absolute;
    top: 5.25vw;
    left: 28.25vw;
    width: 23vw;
    height: 34vw;
    z-index: -5
}

@media only screen and (max-width:1060px) {
    #cuadroRojo1 {
        top: 2vw;
        left: 19vw;
        width: 35vw;
        height: 53vw
    }
}

@media only screen and (max-width:600px) {
    #cuadroRojo1 {
        top: 3.5vw;
        left: 6.5vw;
        width: 55vw;
        height: 82.5vw
    }
}

#reel1_sombra {
    background-color: #f867e9;
    position: absolute;
    left: 4vw;
    top: 1vw;
    width: 28.5vw;
    height: 22.5vw;
    z-index: -5
}

@media only screen and (max-width:1060px) {
    #reel1_sombra {
        display: none
    }
}

@media only screen and (max-width:600px) {
    #reel1_sombra {
        display: none
    }
}

#info1_sombra {
    background-color: #f867e9;
    position: absolute;
    top: 26vw;
    left: 54vw;
    width: 17.25vw;
    height: 15.25vw;
    z-index: -2
}

@media only screen and (max-width:1060px) {
    #info1_sombra {
        display: inline-block;
        width: 25.25vw;
        height: 26.5vw;
        top: 47vw;
        left: 50vw
    }
}

@media only screen and (max-width:600px) {
    #info1_sombra {
        display: none
    }
}

#videoFrame {
    position: absolute;
    background-image: linear-gradient(#394589, #303030, #303030, #303030);
    z-index: -55;
    top: 0;
    left: 60vw;
    width: 40vw;
    height: 100%;
    min-height: 45vw;
    overflow-x: hidden !important
}

@media only screen and (max-width:1060px) {
    #videoFrame {
        left: 61vw;
        width: 39vw
    }
}

@media only screen and (max-width:600px) {
    #videoFrame {
        left: 56vw;
        width: 44vw;
        background-image: linear-gradient(#394589, #303030, #303030)
    }
}

#degradado_final {
    position: absolute;
    opacity: .2;
    background-image: linear-gradient(#52ff60, #52ff60, #f867e9, #303030);
    z-index: -45;
    top: 0;
    left: 89vw;
    width: 11vw;
    height: 23vw;
    overflow-x: hidden !important
}

@media only screen and (max-width:1060px) {
    #degradado_final {
        height: 50vw
    }
}

@media only screen and (max-width:600px) {
    #degradado_final {
        height: 120vw;
        left: 85vw;
        width: 15vw
    }
}

#degradado_final2 {
    display: none;
    position: absolute;
    opacity: .3;
    background-image: linear-gradient(#303030, #f867e9);
    overflow-x: hidden !important
}

@media only screen and (max-width:600px) {
    #degradado_final2 {
        display: inline-block;
        width: 38vw;
        right: 0;
        height: 24vw;
        top: 216vw;
        z-index: 0
    }
}

#videoStatic {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 38vw;
    height: 42.5vw;
    width: auto;
    overflow-x: hidden !important
}

@media only screen and (max-width:1060px) {
    #videoStatic {
        left: 0;
        width: 61vw;
        height: auto;
        top: -15vw
    }
}

@media only screen and (max-width:600px) {
    #videoStatic {
        left: 0;
        width: 80vw;
        height: auto;
        top: 15vw
    }
}

#videoInteractivo1 {
    border-style: groove;
    position: absolute;
    z-index: -4;
    width: 26.5vw;
    height: auto;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

@media only screen and (max-width:1060px) {
    #videoInteractivo1 {
        display: none
    }
}

@media only screen and (max-width:600px) {
    #videoInteractivo1 {
        display: none
    }
}

#videoInteractivo {
    position: absolute;
    z-index: -4;
    top: 22vw;
    left: 68.5vw;
    width: 31.5vw;
    height: auto;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

@media only screen and (max-width:1060px) {
    #videoInteractivo {
        top: 60vw;
        left: 52vw;
        width: 48vw
    }
}

@media only screen and (max-width:600px) {
    #videoInteractivo {
        display: none
    }
}

#videoInteractivo2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

@media only screen and (max-width:1060px) {
    #videoInteractivo2 {
        display: none
    }
}

@media only screen and (max-width:600px) {
    #videoInteractivo2 {
        display: inline-block;
        top: 116vw;
        left: 30vw;
        width: 70vw
    }
}

.botonRosa {
    background: url(carpetas_img/c_volumen.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border: none;
    width: 5vw;
    height: 3.5vw;
    font-family: DMSerif;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    .botonRosa {
        width: 7.5vw;
        height: 5.25vw
    }
}

@media only screen and (max-width:600px) {
    .botonRosa {
        width: 17vw;
        height: 12vw
    }
}

.botonRosa:hover {
    background: url(carpetas_img/c_volumen_hover.png) no-repeat;
    background-size: cover
}

.botonRosa:active {
    background: url(carpetas_img/c_volumen_hover.png) no-repeat;
    background-size: cover
}

.botonRosa:focus {
    outline: 0
}

#boton_texto {
    margin-top: .5vw;
    width: 5vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton_texto {
        width: 7.5vw
    }
}

@media only screen and (max-width:600px) {
    #boton_texto {
        width: 17vw
    }
}

#boton1 {
    position: absolute;
    left: 78vw;
    top: 0;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton1 {
        left: 62vw;
        top: 3vw
    }
}

@media only screen and (max-width:600px) {
    #boton1 {
        left: 72.5vw;
        top: 0
    }
}

#boton2 {
    position: absolute;
    left: 78vw;
    top: 7vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton2 {
        left: 62vw;
        top: 13vw
    }
}

@media only screen and (max-width:600px) {
    #boton2 {
        left: 72.5vw;
        top: 20vw
    }
}

#boton3 {
    position: absolute;
    left: 78vw;
    top: 15vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton3 {
        left: 73vw;
        top: 13vw
    }
}

@media only screen and (max-width:600px) {
    #boton3 {
        left: 72.5vw;
        top: 43vw
    }
}

#boton4 {
    position: absolute;
    left: 86vw;
    top: 10vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton4 {
        left: 17vw;
        top: 60vw
    }
}

@media only screen and (max-width:600px) {
    #boton4 {
        left: 72.5vw;
        top: 66vw
    }
}

#boton5 {
    position: absolute;
    left: 8vw;
    top: 28vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton5 {
        left: 27vw;
        top: 60vw
    }
}

@media only screen and (max-width:600px) {
    #boton5 {
        left: 49.5vw;
        top: 166vw;
        z-index: 10
    }
}

#boton6 {
    position: absolute;
    left: 16vw;
    top: 30.5vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton6 {
        left: 37vw;
        top: 60vw
    }
}

@media only screen and (max-width:600px) {
    #boton6 {
        left: 72.5vw;
        top: 155vw
    }
}

#boton7 {
    position: absolute;
    left: 8vw;
    top: 34.5vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton7 {
        left: 27vw;
        top: 70vw
    }
}

@media only screen and (max-width:600px) {
    #boton7 {
        left: 27vw;
        top: 197vw
    }
}

#boton8 {
    position: absolute;
    left: 16vw;
    top: 37vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton8 {
        left: 37vw;
        top: 70vw
    }
}

@media only screen and (max-width:600px) {
    #boton8 {
        left: 49.5vw;
        top: 186vw
    }
}

#boton9 {
    position: absolute;
    left: 16vw;
    top: 23vw;
    z-index: 10
}

@media only screen and (max-width:1060px) {
    #boton9 {
        left: 27vw;
        top: 80vw
    }
}

@media only screen and (max-width:600px) {
    #boton9 {
        left: 72.5vw;
        top: 175vw
    }
}

#fashionfilm {
    display: none;
    position: absolute;
    z-index: 50101;
    left: 19vw;
    width: 62vw;
    height: 40vw;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

@media only screen and (max-width:1060px) {
    #fashionfilm {
        left: 15vw;
        width: 70vw;
        height: 50vw
    }
}

@media only screen and (max-width:600px) {
    #fashionfilm {
        position: fixed;
        left: 5vw;
        width: 90vw;
        height: 70vw
    }
}

#fashionfilm video::-internal-media-controls-overlay-cast-button {
    all: unset
}

@media (orientation:landscape) {
    #container {
        overflow-y: scroll;
        overflow-x: hidden;
        transform: rotate(270deg) translateX(-100%);
        transform-origin: top left;
        background-color: #999;
        position: absolute;
        width: 100vh;
        height: 100vw
    }
}

@media (orientation:portrait) {
    #container {
        overflow-y: scroll;
        overflow-x: hidden !important;
        max-height: 100vh !important
    }
}

@media (orientation:landscape) {
    #container2 {
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
        white-space: nowrap;
        font-size: 0;
        max-height: 100vh !important
    }
}

.regresar1:hover {
    background-color: #94ab9e;
    color: #e8e8e8
}

.regresar2 {
    border-color: #fff;
    background-color: #b3c9c3;
    color: #303030;
    padding: .5vh 5vh;
    border-style: outset;
    text-align: center;
    display: inline-block;
    font-size: 1.5vh;
    cursor: pointer;
    position: absolute;
    top: 42vh;
    left: 342vh;
    font-family: 'Montserrat';
    font-weight: 400;
}

@media (orientation:portrait) {
    .regresar2 {
        top: 39vh;
        left: 265vh
    }
}

.regresar2:hover {
    background-color: #94ab9e;
    color: #e8e8e8
}

.info_coleccion1 {
    display: inline-block;
    padding: 1.5vh;
    background-color: #94ab9e;
    position: absolute;
    left: 51vh;
    top: 58vh;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    width: 62vh;
    height: 25vh;
    z-index: 50000 !important;
    font-size: 1.7vh
}

@media (orientation:portrait) {
    .info_coleccion1 {
        top: 58vh;
        left: 2vh;
        width: 32vh;
        height: 16vh
    }
}

#video_coleccion1 {
    position: absolute;
    z-index: -4;
    height: 30vh;
    width: auto;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

@media (orientation:portrait) {
    #video_coleccion1 {
        height: 58vh;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%)
    }
}

#info_coleccion1_sombra {
    background-color: #566def;
    position: absolute;
    left: 48vh;
    top: 62.5vh;
    width: 65vh;
    height: 26.5vh;
    z-index: 9
}

@media (orientation:portrait) {
    #info_coleccion1_sombra {
        z-index: 12;
        top: 60vh;
        left: 4.2vh;
        width: 35vh;
        height: 19vh
    }
}

#video_holder {
    top: 10vh;
    position: absolute;
    left: 10vh;
    width: 79vh;
    height: 55vh;
    z-index: 10;
    overflow: hidden;
    display: block
}

@media (orientation:portrait) {
    #video_holder {
        height: 58vh;
        width: 37vh;
        top: 6.5vh;
        left: 6vh
    }
}

#video1_sombra {
    background-color: #52ff60;
    position: absolute;
    top: 13vh;
    left: 7.5vh;
    width: 80vh;
    height: 55vh;
    z-index: 5
}

@media (orientation:portrait) {
    #video1_sombra {
        height: 58vh;
        width: 33.5vh;
        top: 4vh;
        left: 4.2vh
    }
}

#degradado1 {
    opacity: .4;
    background-image: linear-gradient(-90deg, #394589, #566def, #566def, #f867e9, #52ff60);
    position: absolute;
    height: 20vh;
    left: 0;
    width: 103vh;
    top: 80vh;
    z-index: -102
}

@media (orientation:portrait) {
    #degradado1 {
        height: 12vh;
        top: 85vh
    }
}

#videoStatic1 {
    position: absolute;
    z-index: -100;
    top: 15vh;
    left: 89vh;
    height: 65vh;
    width: auto;
    overflow-x: hidden !important
}

@media (orientation:portrait) {
    #videoStatic1 {
        top: 16vh;
        left: 21.5vh;
        z-index: -500 !important
    }
}

.look1 {
    left: 127vh;
    top: 24.5vh;
    display: inline-block;
    padding: 1.5vh;
    background-color: #94ab9e;
    position: absolute;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    height: 62vh;
    z-index: 10;
    font-size: 1.7vh
}

@media (orientation:portrait) {
    .look1 {
        left: 48vh;
        top: 21.5vh
    }
}

.look1_sombra {
    background-color: #f867e9;
    display: inline-block;
    position: absolute;
    z-index: -10;
    left: 142vh;
    top: 7.5vh;
    height: 61vh;
    width: 41vh
}

@media (orientation:portrait) {
    .look1_sombra {
        left: 68vh;
        top: 4.5vh
    }
}

.look2 {
    left: 133vh;
    top: 17.25vh;
    display: inline-block;
    padding: 1.5vh;
    background-color: #94ab9e;
    position: absolute;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    height: 61vh;
    z-index: 5;
    font-size: 1.7vh
}

@media (orientation:portrait) {
    .look2 {
        left: 56vh;
        top: 14.25vh
    }
}

.look3 {
    left: 139vh;
    top: 10vh;
    display: inline-block;
    padding: 1.5vh;
    background-color: #94ab9e;
    position: absolute;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    height: 61vh;
    z-index: 0;
    font-size: 1.7vh
}

@media (orientation:portrait) {
    .look3 {
        left: 62vh;
        top: 7vh
    }
}

#video-holder2 {
    position: absolute;
    overflow: hidden;
    top: 57vh;
    left: 157vh;
    width: 67.3vh;
    height: 28vh;
    z-index: -5
}

@media (orientation:portrait) {
    #video-holder2 {
        left: 80vh;
        top: 54vh
    }
}

#video2 {
    position: absolute;
    z-index: -4;
    width: auto;
    height: 28vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

.look4 {
    display: inline-block;
    background-color: #94ab9e;
    position: absolute;
    left: 203vh;
    top: 10vh;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    height: 68.5vh;
    z-index: 0;
    padding: 1.5vh;
    font-size: 1.7vh
}

@media (orientation:portrait) {
    .look4 {
        left: 126vh;
        top: 7vh
    }
}

#degradado2 {
    opacity: .4;
    position: absolute;
    background-image: linear-gradient(#f867e9, #f867e9, #303030);
    z-index: -5000;
    top: 0;
    left: 190vh;
    width: 40vh;
    height: 50vh;
    overflow-x: hidden !important
}

@media (orientation:portrait) {
    #degradado2 {
        left: 113vh
    }
}

#videoStatic2 {
    position: absolute;
    z-index: -100;
    top: 28vh;
    left: 210vh;
    height: 65vh;
    width: auto;
    overflow-x: hidden !important
}

@media (orientation:portrait) {
    #videoStatic2 {
        left: 133vh;
        top: 25vh
    }
}

.look5 {
    display: inline-block;
    background-color: #94ab9e;
    position: absolute;
    left: 259vh;
    top: 10vh;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    height: 75.7vh;
    z-index: 0;
    padding: 1.5vh;
    font-size: 1.7vh
}

@media (orientation:portrait) {
    .look5 {
        left: 182vh;
        top: 7vh
    }
}

.look6 {
    display: inline-block;
    background-color: #94ab9e;
    position: absolute;
    left: 295vh;
    top: 17.5vh;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    height: 65vh;
    z-index: 0;
    padding: 1.5vh;
    font-size: 1.7vh
}

@media (orientation:portrait) {
    .look6 {
        left: 218vh;
        top: 14.5vh
    }
}

#sombra_final {
    background-color: #566def;
    position: absolute;
    left: 256vh;
    top: 7vh;
    width: 92vh;
    height: 65vh;
    z-index: -100
}

@media (orientation:portrait) {
    #sombra_final {
        left: 177vh;
        top: 4vh
    }
}

#degradado3 {
    opacity: .4;
    position: absolute;
    background-image: linear-gradient(#303030, #52ff60);
    z-index: -5000;
    top: 60vh;
    left: 300vh;
    width: 65vh;
    height: 40vh;
    overflow-x: hidden !important
}

@media (orientation:portrait) {
    #degradado3 {
        left: 223vh;
        top: 57vh
    }
}

#video-holder3 {
    overflow: hidden;
    position: absolute;
    top: 10vh;
    left: 320vh;
    width: 67vh;
    overflow: hidden;
    height: 28vh;
    z-index: -15
}

@media (orientation:portrait) {
    #video-holder3 {
        left: 243vh;
        top: 7vh
    }
}

#video3 {
    position: absolute;
    z-index: -4;
    width: auto;
    height: 28vh;
    overflow-x: hidden !important;
    overflow-y: hidden !important
}

#fondo_col {
    background-color: #303030;
    position: absolute;
    left: 0;
    top: 0;
    width: 394vh;
    height: 100vh;
    z-index: -10000
}

@media (orientation:portrait) {
    #fondo_col {
        width: 317vh
    }
}